.legendContainer {
    display:inline-block;
    padding-right:1em;
    max-width:20ch;
}

.legendSwatch, .legendEntry p {
    display:inline;
}
.legendSwatch {
    width:.5em;
    height:.5em;
    min-width:.5em;
    min-height:.5em;
    padding:0 .5em;
    margin-right:.5em;
}
.legendTitle {
    font-weight: bold;
    margin:0 0 1em 0;
    padding:0;
}