.container {
  padding: 0 2rem;
  position:relative;
  overflow:hidden;
  width:100vw;
  height:100vh;
}
.header, .sidebar, .attributions, .legend, .tooltip, .portal {  
    background-color: rgba(255,255,255,0.7);
    z-index:2;
    padding: .5rem 1rem .5rem .5rem;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
}

.header {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:2;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.sidebar {
    position:absolute;
    top:5em;
    left:0;
    width:200px;
}

.sidebar h3 {
    margin:0;
    padding:0;
}

.map {
    position:absolute;
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    z-index:1;
}
.mapContainer {
    width:100%;
    height:100%;
}

.bottomRight {
    position:absolute;
    bottom:0;
    right:0;
    z-index:2;
    max-width:70ch;
}
.attributions {
    max-width:50ch;
    font-size:.65rem;
}
/* .attributions span {
    margin-left:1em;
} */

.legend {
    display: flex;
    margin-bottom:1em;
}
.tooltip {
    position:fixed;
    max-width:50ch;
}

.tooltip p {
    margin:0;
    max-width:50ch;
}

.portal, .jsonPortal { 
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    height:50vh;
}

.closePortal {
    float:right;
    cursor: pointer;
}
.portal a {
    margin-bottom:1em;
    color:rgb(18, 154, 195);
    font-size:1.25rem;
}

.portal iframe {
    margin-top:1em;
}
.portal svg {
    width:1.25rem;
    transform:translateY(2px);
}
.portal svg g {
    fill:orange;
}

.jsonPortal {
    width:50vh;
    height:50vh;
    left:initial;
    right:0;
    z-index: 5;
    top:0;
    bottom:initial;
}

@media (prefers-color-scheme: dark) {
    .header, .sidebar, .attributions, .legend, .tooltip, .portal {  
        background-color: rgba(0,0,0,0.7);
    }
    .portal a {
        margin-bottom:1em;
        color:rgb(116, 248, 209);
    }
}

.showLayersButton {
    display:none;
}

.showLegendButton {
    display:none;
}

@media (max-width: 768px){   
    .sidebar, .legend, .attributions {
        max-width: 100%;
        width:100%;
    }
    .hidden {
        display:none;
    }
}